.profile{
    background-color: bisque;
    width: 85%;
    padding: 10px;
}

.description{  
    display: flex;
}

.avatar{

}

.avatar img{
    width: 200px;
    border-radius: 10%;
}

.name{
    padding-left: 10px;
    width: 80%;
}