.user{
    margin: 10px 5px 0 5px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.user p{
    margin: 0;
}

.user h3{
    margin: 0;
}

.user_img{
    display: block;
    width: 70px;
    margin: 0 auto;
}

.user_b{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 25px;
    margin-top: 10px;
}

.inf{
    margin-left: 10px;
}