.App {
    max-width: 1280px;
    margin: 0 auto;
}

.header{
background-color: crimson;
}

.content{
    display: flex;
}

.nav{
background-color: aqua;
width: 20%;
}

.nav div{
    display: flex;
    flex-flow: column;
}

.profile{
background-color: bisque;
width: 80%;
}